.unstrip tr:nth-child(2n) {
    background-color: white;
}

.no-table-border tr, .no-table-border td {
    border: none;
}

.tbBorder {
    border: 1px solid #999 !important
}

.alignTdChildLeft td {
    text-align: left;
}

.boldTdChildText td {
    font-weight: bold;
}

.wrapper1, .wrapper2 {
    /* width: 300px; */
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll2 {
    /* width: 300px; */
    max-height: 480px;
}

.wrapper1 {
    height: 20px;
}

/* .wrapper2 {
    height: 200px;
} */

.div1 {
    width: 1000px;
    /* height: 20px; */
}

.width120px {
    width: 120px;
}

/* .div2 { */

/* width: 1000px; */

/* height: 100%; */

/* background-color: #88FF88; */

/* overflow: auto; */

/* } */

/* .div2:nth-child(even) {
    background-color: ##88FF88;
  } */